<h1>Person</h1>
<span>Name:</span> {{input type="text" value=controller.name}}
<br />
<span>Last Name:</span> {{input type="text" value=controller.lastName}}
<br />
<span>Age:</span> {{input type="text" value=controller.age}}
<br />
<span {{ action 'test'}}>Full name:</span> {{input type="text" value=controller.fullName}}
<br />
{{all-name controller}}
<br />
<span>Description: {{description}}</span>
<br />
<button class="btn btn-primary col-md-4" {{action 'say' target="model"}}>
    Say
</button>